<div class="relative w-full">
    <h1 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center z-10
           text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 
           font-extralight">
        Career Fair
    </h1>
    <img src="/assets/images/tribunal-ceashowcase-banner.jpg" 
         alt="Career Fair Banner" 
         class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" />
</div>

<div class="flex flex-col items-center mt-10">
    <div class="w-3/5 flex flex-col gap-y-4">
        <div class="w-full py-4 bg-red-500 flex flex-col justify-between items-center text-white text-center gap-y-2">
            <h1 class="text-5xl font-light leading-tight">
                CEAS EXPO 2025
            </h1>
            <h2 class="text-xl">Brought to you by CEAS Tribunal and the College of Engineering and Applied Science</h2>
            <p class="text-lg">Tuesday, April 8th, 2025 | Fifth Third Arena | 12:00 PM - 5:00 PM</p>
        </div>

        <div class="flex flex-col gap-y-4">
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">About</h1>
            <p>
                The Senior Capstone Projects will be on full display at the CEAS EXPO. Graduating seniors will present 
                their hard work over the past year in hopes of winning prize amounts from a $10,000 prize pool. There 
                will be prizes for the top 10 teams overall, along with prizes for the best projects in each major, the 
                crowd favorite, and the judge's choice. All projects will be judged by Alumni and Industry Representatives, 
                however, there are 4 categories of projects:
            </p>

            <ul class="list-disc ml-4">
                <li>Posterboard</li>
                <li>Product/Device</li>
                <li>Software/Application</li>
                <li>Student-Organization Sponsored Project</li>
            </ul>
        </div>

        <div class="flex flex-col gap-y-4">
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">Day of Event Schedule</h1>

            <p>8:30 AM - 11:00 AM: Open load in & student check-in period</p>
            <p>11:00 AM - 12:00 PM: Judge Brunch and Briefing (for judges only)</p>
            <p>12:00 PM: Student Teams Arrive at Booths</p>
            <p>12:30 PM: Opening Ceremony</p>
            <p>1:00 PM-4:15 PM: Judging Sessions (10 total)</p>
            <p>4:45 PM: Closing ceremony & prize announcements</p>
            <p>5:15 PM - 6:30 PM: Project load out</p>


            <p class="mt-2">
                Several judging groups will traverse the exhibit hall listening to presentations from all capstone groups. Each capstone 
                group will be scored by multiple judging groups, with each presentation counting towards their final scoring. The judging 
                schedule is subject to change as the EXPO approaches.
            </p>
        </div>

        <div class="flex flex-col gap-y-4"> 
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">Students</h1>

            <p>
                This event is made by students for students! Graduating seniors will have a chance to show off their 
                dedication and commitment to their Senior Design Capstone Projects. They will present their projects 
                from 1:00 PM - 4:15 PM on Tuesday, April 8th.
            </p>

            <img src="/assets/images/Capture-2024-11-24-231946.png" alt="" class="w-full" />

            <p>
                Want to register your group? Please fill out the form assigned to you on the CEAS EXPO Canvas page. Capstone 
                Team Registration opens on December 1st!
            </p>
        </div>

        <div class="flex flex-col gap-y-4">
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">Logistics</h1>

            <p>
                We will be on campus this year for CEAS EXPO at Fifth Third Arena! UC students and the public are welcome and 
                encouraged to stop by to see our students' projects.
            </p>
        </div>

        <div class="flex flex-col gap-y-4">
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">Employers</h1>

            <p>
                Employers will be actively involved in judging the senior design projects. Their goal is to identify the best 
                and most innovative capstone projects created by the graduating seniors of UC.
            </p>
            
            <h1 class="text-xl font-medium">Sponors</h1>

            <p>
                The sponsors play a vital role in successfully running this event. We are actively recruiting sponsors for CEAS 
                EXPO and want to help your company get involved! Sponsors will have their own booth at the EXPO along with the 
                opportunity to judge capstone projects.
            </p>
            <p>
                If you are interested in sponsoring this event, please contact Michael Volan at, <a href="mailto:volanmj@foundation.uc.edu" class="text-blue-500 hover:underline hover:underline-offset-[3px]">volanmj&#64;foundation.uc.edu</a> 
                or register online <a href="https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Falumni.uc.edu%2Fget-involved%2Fcollege-networks%2Fceas%2Fexpo.html&data=05%7C01%7Cschadra%40mail.uc.edu%7C49f3129ddcf1488eb99008db087d1247%7Cf5222e6c5fc648eb8f0373db18203b63%7C1%7C0%7C638113105491167607%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=blSLaehGn05Nm%2FAjkfFtt%2BuGTD8aW4XB27zVNIczddc%3D&reserved=0" class="text-blue-500 hover:underline hover:underline-offset-[3px]">here</a>.
            </p>

            <h1 class="text-xl font-medium">Judges</h1>

            <p>
                The judges are required to look closely at all displayed projects and make their best decision to rank the top 3 
                designs. The judge positions are open for all esteemed industry members and CEAS alumni who would like to score 
                the senior designs from 1:00 PM - 4:15 PM on the day of event (April 8th, 2025). All judges will take part in a 
                brief overview and be provided a rubric ahead of judging. Judge Registration for CEAS Expo 2025 will be made 
                available in the future!
            </p>
        </div>

        <div class="flex flex-col gap-y-4">
            <h1 class="text-6xl font-extralight py-4 border-y-4 border-solid border-red-500 text-center">Employers</h1>

            <p>The CEAS Showcase is organized by the <a href="https://tribunal.uc.edu/" class="text-blue-500 hover:underline hover:underline-offset-[3px]">Engineering & Applied Science Tribunal</a>.</p>

            <p>Should you have any questions, please contact us at <a href="mailto:croninoc@mail.uc.edu" class="text-blue-500 hover:underline hover:underline-offset-[3px]">croninoc&#64;mail.uc.edu</a>. Thank you.</p>
        </div>
    </div>

    <div class="bg-red-500 py-8 mt-4 text-white w-full">
        <div class="max-w-7xl mx-auto px-4tex sm:px-6 lg:px-8 flex justify-between items-center">
            <h2 class="text-2xl font-bold">Want an opportunity to contribute within CEAS</h2>
            <button class="bg-white text-red-500 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white">
            Get Involved
            </button>
        </div>
    </div>
    
    <div class="bg-gray-800 text-white py-12 w-full">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-3 gap-8">
            <div>
                <h3 class="text-lg font-bold mb-2">Committees</h3>
                <ul>
                <li>Academic Affairs</li>
                <li>Career Development</li>
                <li>Communications</li>
                <li>ESOC</li>
                <li>EWeek</li>
                <li>FELD</li>
                <li>Innovation</li>
                <li>Luau+</li>
                <li>Special Events</li>
                <li>Technology</li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-2">ESOC</h3>
                <ul>
                <li>Baldwin Table Reservations</li>
                <li>Funding Guide</li>
                <li>TV Ad Submission</li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-2">Important Documents</h3>
                <ul>
                <li>Meeting Minutes</li>
                <li>Student Bill of Rights</li>
                <li>Tribunal ByLaws</li>
                <li>Tribunal Constitution</li>
                </ul>
                <h3 class="text-lg font-bold mb-2 mt-4">Stay Connected</h3>
                <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                </ul>
                <h3 class="text-lg font-bold mb-2 mt-4">Already an exec member of CEAS Tribunal?</h3>
                <div class="mt-2">
                <a href="#" class="text-white hover:underline">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>