<nav class="flex flex-row justify-between mx-10 my-4 overflow-x-hidde h-6"> 
    <a routerLink="/" class="flex items-center">
        <img src="/assets/images/tribunal_logo_color.png" alt="logo" class="h-6 mr-2" />
        
    </a>
 
    <ul class="flex flex-row gap-x-10 text-base justify-center">
        <li class="hover:pb-[1.4rem] hover:border-solid hover:border-b-4 hover:border-red-500"><a routerLink="/career-fair">Career Fair</a></li>
        <li class="hover:pb-[1.4rem] hover:border-solid hover:border-b-4 hover:border-red-500"><a routerLink="/expo">CEAS EXPO</a></li>
        <li class="hover:pb-[1.4rem] hover:border-solid hover:border-b-4 hover:border-red-500"><a routerLink="/alumni">Alumni</a></li>
        <li class="hover:pb-[1.4rem] hover:border-solid hover:border-b-4 hover:border-red-500"><a routerLink="/exec">Executives</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>